@charset "utf-8";
/* CSS Document */

<style>

body{
    width:1060px;
    margin:50px 50px;
}

path {  
	stroke: #fff;
}

path:hover {
	  opacity:0.9; 
	  }
	  
rect:hover {
	  fill:red; 
	  
	  }
	  
	  
.axis {
	  font: 10px sans-serif; 

	  }
	  
.legend tr{
	    border-bottom:3px solid #800026; 
		}
		
.legend tr:first-child{
	    border-top:3px solid #800026; 
		}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  
}

.x.axis path {
	  display: none; 
	  }
	  
.legend{
	align:center;
    margin-bottom:60px;
	margin-right:60px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 100px;
}

.legend td{
    padding:4px 5px;
    vertical-align:bottom;
}

.legendFreq, .legendPerc{
    align:right;
    width:50px;
}

#country{
	text-align:left;
	margin-top:30px;
	margin-left:555px;
}

#dashboard{
	text-align:center;
	border-bottom-color:#000000;
}

#data-reference{
	text-align:left;
	margin-top:30px;
	margin-left:555px;
}


</style>